<!--HandleBar templates-->
    {{#each alerts}}
    <div class="panel panel-default">
        <div class="panel-body">
            <span class='titleAlert'>
                <h4>{{label}}</h4>
            </span>
            <a href="#" class="info">
                <span class='glyphicon glyphicon-info-sign'> </span>
            </a>
            <a href="#" class="edit">
                <span class='glyphicon glyphicon-pencil'> </span>
            </a>
        </div>
    </div>
    {{/each}}