<div id="createHttpAlert">

    <div id="addAlertPopup" class="popup">
        <span class="button b-close"><span>X</span></span>

        <div class="container-fluid">
            <form id="createAlertHttp" method="POST" action="rest-api/alerts" enctype='application/json'>
                <div class="row">

                    <div class="col-xs-12 col-md-12" id>
                        <div class="form-group">
                            <label for="baseUrl">Base URL</label>
                            <input class="form-control input-lg" type='text' placeholder="Base URL" id="baseUrl" name="baseUrl"/>
                        </div>
                        <div class="form-group">
                            <label for="path">Path</label>
                            <input class="form-control input-lg" type='text' placeholder="Path" id="path" name="path"/>
                        </div>
                        <div class="form-group">
                            <label for="method">Method</label>
                            <input class="form-control input-lg" type='text' placeholder="Method" id="method" name="method"/>
                        </div>
                        <div class="form-group">
                            <label for="codePattern">Code pattern</label>
                            <input class="form-control input-lg" type='text' placeholder="Code pattern"
                                   id="codePattern" name="codePattern"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input class="form-control input-lg" type='text' placeholder="Description"
                                   id="description" name="description"/>
                        </div>
                        <div class="form-group">
                            <label for="cronExpression">Cron expression</label>
                            <input class="form-control input-lg" type='text' placeholder="Cron expression"
                                   id="cronExpression" name="cronExpression"/>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-xs-8 col-md-8" id>
                    </div>
                    <div class="col-xs-1 col-md-1" id>
                        <button  class="btn btn-primary" id="createAlertForm">Enregistrer</button>
                    </div>
                    <div class="col-xs-1 col-md-1" id>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>
</div>